#importlib_metadata>8
setuptools
webrtcvad
pyalsaaudio
packaging>=24
ordered-set>=3.1.1
more_itertools>=8.8
importlib_resources>=5.10.2
torch==2.4.1
#torchvision==0.19.1
torchaudio==2.4.1
tokenizers==0.20.3
faster-whisper
#--index-url https://download.pytorch.org/whl/cu121
#torch>=2.2 
#--index-url https://download.pytorch.org/whl/cu121
#torchaudio>=2.2 
#git+https://github.com/pyannote/pyannote-audio/@3.3.2
#git+https://github.com/m-bain/whisperx.git
